.custom { 
    display: flex; 
    list-style: none;
} 

.custom > li {
    padding: 10px 20px;
    margin: 0.5px;
    background: gainsboro;
    cursor: pointer;
} 

.custom > li > a { 
    color: rgb(26, 26, 26); 
    font-size: 18px; 
    text-decoration: none;
} 

